<% content_for :javascript do %>
  <script type='text/javascript'>
    new SlimSelect({
      select: '#selectGuildRole',
    })
  </script>
<% end %>

<%= form_for @config do |form| %>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:alternate_email).md_18 %>&nbspGuild Member Role</label>
      <%= form.select :value, options_for_select(@config.guild.roles.collect { |g| ["@#{g["name"].gsub('@', '')}", g["id"]] }, @config.value), {}, {id: "selectGuildRole", class: 'u-full-width slim-dropdown'} %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>
