<% content_for :javascript do %>
  <script type='text/javascript'>
    new SlimSelect({
      select: '#selectDays',
      settings: {
        closeOnSelect: false,
        allowDeselect: true,
        maxSelected: 25,
        maxValuesShown: 25,
      },
    })
  </script>
<% end %>

<%= form_for @config do |form| %>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput" class="inline-icon"><%= material_icon.shape(:calendar_month).md_18 %> Raid Days</label>
      <%= form.select :value, weekday_options_for_select(index_as_value: true), {}, {id: "selectDays", class: 'u-full-width slim-dropdown', multiple: true} %>
    </div>
  </div>
  <%= form.submit class: "button-primary" %>
<% end %>