.button-container {
    min-height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button:hover {
    background-color: #8B0000; /* Darker Red on Hover */
}
