<style>
  .content {
    background-color: transparent !important; /* Remove background color */
    box-shadow: none !important; /* Remove box shadow */
  }
</style>
<div class="blur-layer"></div>
<div class="button-container">
  <%= image_tag("Eww Bot Logo.jpeg") %>
</div>
